<nav aria-label="breadcrumb" class="breadcrumb">
  <div class="category_full">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ site.url }}">
            Home
          </a>
        </li>
        {% for crumb in site.data.breadcrumbs %}
          {% assign url_prefix = page.url | slice: 0, crumb.url.size %}
          {% if (url_prefix == crumb.url) and (page.url != crumb.url) %}
            <li class="breadcrumb-item">
              <a href="{{ crumb.url | prepend: site.baseurl }}">
                {{ crumb.title }}
              </a>
            </li>

          {% endif %}
        {% endfor %}
        <li class="breadcrumb-item active">
          <a  href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </li>
      </ol>
    </div>
</nav>
